:root {
	--pokemon-size: 150px;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html,
body {
	background: linear-gradient(
		0deg,
		rgba(34, 193, 195, 1) 20%,
		rgba(45, 253, 241, 0.49447635189517514) 54%
	);
	min-height: 100%;
	width: 100%;
	padding-bottom: 100px;
}
.navigationBar {
	color: #05386b;
	display: flex;
	justify-content: space-around;
	font-family: "Smooch Sans", sans-serif, "Helvetica Neue", Helvetica, Arial;
	align-items: center;
	margin-top: 30px;
	margin-top: 0px;
}

.myName {
	font-size: 4em;
	font-weight: 700;
	color: #05386b;
}

.socialMedia {
	position: relative;
	height: 30px;
	width: 30px;
	margin-right: 25px;
}

.socialMedia:hover {
	width: 35px;
	height: 35px;
}

.navList {
	list-style: none;
}

.navList .listItem {
	display: inline-block;
	margin-right: 200px;
	justify-content: center;
}

.navigationBar a {
	text-decoration: none;
	color: #05386b;
	font-size: 1.7em;
}

.navigationBar a:hover {
	color: #fff;
	text-decoration: none;
}

.menu {
	display: none;
	position: absolute;
}

.menu-line {
	width: 20px;
	height: 3px;
	background-color: #05386b;
	margin-bottom: 4px;
}

.section1 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 100px;
}

.pokedex {
	display: flex;
	justify-content: center;
	font-size: 220px;
	font-family: "Smooch Sans", sans-serif, "Helvetica Neue", Helvetica, Arial,
		sans-serif;
	font-weight: 800;
	color: #fff;
	margin-top: -40px;
	margin-bottom: -130px;
}

.pokedexLines {
	display: flex;
	justify-content: center;
	background-color: #fff;
	width: 595px;
	height: 8px;
}

.pokedexLines2 {
	display: flex;
	justify-content: center;
	background-color: #fff;
	width: 595px;
	height: 8px;
	margin-top: 90px;
}
/* Pokedex fram */
.pokedexViewer {
	display: flex;
	justify-content: center;
	width: 1550px;
	height: 1000px;
	border-radius: 2%;
	margin: 100px auto 0 auto;
	padding-bottom: 100px;
}

.mainFrame {
	display: flex;

	background-color: rgb(236, 52, 52);
	width: 800px;
	height: 1000px;
	margin: 0 auto 0 0px;
	border-radius: 2%;
	box-shadow: -10px 15px 0px 11px rgb(148, 40, 40);
}

.pokemonCard {
	display: flex;
	position: absolute;
	justify-content: center;
	align-items: center;
	width: 480px;
	height: auto;
	background-color: rgb(255, 255, 255);
	top: 800px;
	border-radius: 10px;
}

.blue {
	display: flex;
	position: absolute;
	justify-content: center;
	background: radial-gradient(
		circle,
		rgba(198, 222, 222, 1) 8%,
		rgba(45, 253, 241, 10) 64%
	);
	width: 80px;
	height: 80px;
	margin: 20px 20px 20px 0px;
	border-radius: 100%;
	left: 280px;
}

.red {
	display: flex;
	position: absolute;
	background: rgb(237, 125, 124);
	background: radial-gradient(
		circle,
		rgb(245, 34, 30) 35%,
		rgba(140, 13, 13, 0.692) 64%
	);
	margin: 30px 0 200px 150px;
	width: 50px;
	height: 50px;
	border-radius: 100%;
}

.yellow {
	display: flex;
	position: absolute;
	background: rgb(255, 255, 0);
	background: radial-gradient(
		circle,
		rgba(255, 255, 0, 1) 35%,
		rgba(255, 255, 0, 0.692) 64%
	);
	margin: 30px 0 200px 230px;
	width: 50px;
	height: 50px;
	border-radius: 100%;
}

.green {
	display: flex;
	position: absolute;
	background: rgb(0, 255, 0);
	background: radial-gradient(
		circle,
		rgba(0, 255, 0, 1) 35%,
		rgba(0, 255, 0, 0.692) 64%
	);
	margin: 30px 0 200px 310px;
	width: 50px;
	height: 50px;
	border-radius: 100%;
}

.screen {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 590px;
	height: 650px;
	border-radius: 2%;
	margin: 150px auto 0 auto;
	background-color: lightgray;
	box-shadow: -8px 10px 0px 4px grey;
	left: -200px;
}

.topHoles {
	display: inline-block;
	position: relative;
	justify-content: space-around;
	width: 100%;
	height: 100px;
	background-color: rgb(236, 52, 52);
	border-radius: 100%;
	margin: 35px 20px 0 auto;
	width: 20px;
	height: 20px;
	top: -195px;
	left: -320px;
}

.topHolesRight {
	display: inline-block;
	position: relative;
	justify-content: space-around;
	width: 100%;
	height: 100px;
	background-color: rgb(236, 52, 52);
	border-radius: 100%;
	margin: 35px 250px 0 auto;
	width: 20px;
	height: 20px;
	top: -250px;
}

.blackButton {
	position: relative;
	background-color: #2c2c2c;
	border-radius: 100%;
	border-left: #000 solid 10px;
	border-bottom: #000 solid 10px;
	width: 90px;
	height: 90px;
	top: 340px;
	left: -250px;
}

.redButton {
	position: relative;
	width: 50px;
	height: 50px;
	background-color: rgb(236, 52, 52);
	border-radius: 100%;
	top: 120px;
	left: -200px;
}

.lines {
	display: flex;
	position: relative;
	flex-direction: column;
	background-color: #000;
	width: 140px;
	height: 4px;
	top: 260px;
	left: 150px;
	margin-top: 12px;
}

.bottoms {
	display: flex;
	position: relative;
	flex-direction: column;
}

.greenThinBottom {
	position: relative;
	width: 50px;
	height: 12px;
	background-color: rgb(0, 255, 0);
	border-radius: 20%;
	top: 850px;
	right: 450px;
}

.blueThinBottom {
	position: relative;
	width: 50px;
	height: 12px;
	background-color: rgb(0, 162, 255);
	border-radius: 20%;
	top: 838px;
	right: 350px;
	box-shadow: inset;
}

.verticalCross {
	position: relative;
	width: 30px;
	height: 100px;
	background-color: #000;
	top: 850px;
	right: 200px;
	border-radius: 10px;
}

.horizontalCross {
	position: relative;
	width: 30px;
	height: 100px;
	transform: rotate(90deg);
	background-color: #000;
	top: 750px;
	right: 200px;
	border-radius: 10px;
}

.leftSide {
	display: flex;
	position: relative;
	flex-direction: column;
	width: 650px;
	height: 900px;
	border-radius: 15px;
	top: 90px;
	right: 10px;
}

.trapezoid {
	border-bottom: 100px solid rgb(236, 52, 52);
	border-left: solid transparent;
	border-right: 90px solid transparent;
	border-top: 0 solid transparent;
	width: 200px;
	margin-top: -5px;
	border-top-right-radius: 10px;
}

.rectangle {
	background-color: rgb(236, 52, 52);
	width: 400px;
	height: 900px;
	border-radius: 15px;
	box-shadow: rgb(148, 40, 40) 20px 20px 1px 20px;
}

.pokeName {
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;
	width: 400px;
	height: 100px;
	color: #ffffff;
	background-color: #090f34;
	border-color: #090f34;
	border-radius: 15px;
	margin-top: -50px;
	margin-left: -50px;
	top: -650px;
	font-family: "VT323", monospace, sans-serif;
	font-size: 60px;
	text-align: center;
}

.pokeName:hover {
	color: #ffffff;
}

.grid {
	width: 146px;
	height: 60px;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(2, 1fr);
	position: relative;
	bottom: 630px;
	right: 45px;
}

.blueSquare {
	width: 80px;
	height: 80px;
	background-color: rgb(36, 128, 182);
	border: #000 solid 5px;
	top: -100px;
	left: -100px;
	margin-right: 5px;
	margin-top: 5px;
}
.getPokemon {
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;
	width: 400px;
	height: 90px;
	color: #ffffff;
	background-color: #044213;
	border-color: #044213;
	border-radius: 15px;
	margin-top: -50px;
	margin-left: -50px;
	font-family: "VT323", monospace, sans-serif;
	font-size: 60px;
	text-align: center;
	right: 390px;
	top: 530px;
}

.getPokemon:hover {
	color: #ffffff;
}

.pokeStats {
	display: inline-flex;
	position: relative;
	width: 400px;
	height: 280px;
	background-color: #129b1d;
	border-radius: 5%;
	top: 600px;
	right: 780px;
	font-family: "VT323", monospace, sans-serif;
	color: #fff;
}

.stats {
	margin-right: 10px;
}

.statName {
	font-size: 40px;
}

#PS {
	position: relative;
	left: 10px;
}

#ATK {
	position: relative;
	left: 80px;
}

#DEF {
	position: relative;
	left: 160px;
}

#SPATK {
	position: relative;
	right: 150px;
	top: 100px;
}

#SPDEF {
	position: relative;
	right: 240px;
	top: 200px;
}

#SPEED {
	position: relative;
	top: 100px;
	right: 160px;
}

#TYPE {
	position: relative;
	top: 200px;
	left: -250px;
}

.statValue {
	font-size: 30px;
}

#ps {
	position: relative;
	left: 70px;
	top: -32px;
}

#atk {
	position: relative;
	bottom: 32px;
	left: 150px;
}

#def {
	position: relative;
	bottom: 32px;
	left: 240px;
}

#spatk {
	position: relative;
	top: 65px;
	right: 35px;
}

#speed {
	position: relative;
	top: 65px;
	right: 35px;
}

#spdef {
	position: relative;
	top: 165px;
	right: 125px;
}

#type {
	position: relative;
	top: 165px;
	left: -125px;
}

@media all and (max-width: 958px) {
	.navigationBar {
		flex-direction: column;
		position: relative;
	}

	.navigationBar .myName {
		width: 100%;
	}

	.menu {
		display: block;
		position: absolute;
		right: 10px;
		top: 15px;
	}

	.navList {
		list-style-type: none;
		width: 100%;
		text-align: center;
		padding-top: 10px;
		display: none;
	}

	.navigationBar .listItem {
		position: relative;
		display: block;
		border-top: #05386b solid 1.5px;
		padding: 10px 0;
		margin-right: -20px;
	}

	.myName {
		font-size: 15vw;
		display: block;
	}

	.pokedex {
		position: relative;
		display: block;
		margin: -40px auto 10px auto;
		text-align: center;
		font-size: 30vw;
	}

	.pokedexLines {
		width: 83%;
		height: 8px;
		margin-bottom: 20px;
	}
	.pokedexLines2 {
		width: 83%;
		height: 8px;
		margin-top: -35px;
	}
}

.active {
	display: block;
}
